# this contains file or folder and it's MAX-SIZE in bytes
usr/bin/clang++=28211576
usr/bin/clang-5.0=28211576
usr/bin/clc++=291016
usr/bin/ld.lld=3975112
usr/bin/lld=3975112
usr/bin/lldb=60968
usr/bin/lldb-server=9079832
usr/bin/llvm-dis=27512
usr/bin/llvm-extract=47992
usr/bin/llvm-link=52176
usr/bin/llvm-objdump=471680
usr/bin/netdeploy=47377
usr/bin/opt=304480
usr/share/asm_bins=152956928
